.foodCard{
    width: 310px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.foodCard .foodImg{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.foodCard .foodImg img{
    width: 100%;
    height: 100%;
}
.foodCard .foodTitle{
    margin: 15px auto 15px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foodTitle h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}
.foodTitle p{
    font-weight: 400;
    min-width: 70px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.foodCard > p{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    width: 90%;
    margin: 0 auto 20px;
    color: #CFCFCF;
}
.foodCard .ingredients{
    margin-bottom: 10px;
    font-size: 16px;
}
.foodCard .price{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
@media (max-width: 620px) {
    .foodTitle h3 {
        font-size: 20px;
    }
}