* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    font-family: 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.App {
    max-width: 1400px;
    margin: 0 auto;
}

body {
    background: #E8EEF2;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.line {
    height: 2px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px auto 0;
    background: #646cff;
    border-radius: 5px;
}

@media (max-width: 1280px) {
    .container {
        padding: 0 20px;
        width: 100%;
    }
}

@media (max-width: 440px) {
    .container {
        padding: 0 14px;
    }
}

@media (max-width: 410px) {
    .container {
        padding: 0 10px;
    }
}